<h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>

<h1>Angular Router App</h1>
<h1 class="title">Angular Router App</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav class="p-3">
  <ul>
    <li><a routerLink="/mask-test" routerLinkActive="active" ariaCurrentWhenActive="page">Mask Test</a></li>
    <li><a routerLink="/material" routerLinkActive="active" ariaCurrentWhenActive="page">Material</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>