<form #myForm = "ngForm">
  <input type="text" name="inputQuantity" mask-quantity [(ngModel)]="inputQuantity" #myInput="ngModel" required>
  <p [hidden]="myInput.valid || myInput.pristine">El formulario no es válido</p>
  <button type="submit" [disabled]="!myForm.form.valid">Comprobar</button>
</form>
<div>
  {{inputQuantity}}
</div>

<h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>